<!-- Linha Logo -->
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="logo">
      <a routerLink="/lista-carros">
        <figure>
          <img src="./../assets/img/alelo-logo.png" class="img-fluid img-thumbnail" alt="Imagem Responsiva">
        </figure>
      </a>
    </div>
  </div>
</div>
<!-- /Linha Logo -->

<!-- Linha Menu -->
<div class="row">
  <div class="col-md-10 offset-md-2">
    <h1 class="tituloMenu">Alelo Frota</h1>
    <nav>
      <ul class="menu">
        <li><a routerLink=""><i class="pi pi-th-large"></i> Lista Carros</a></li>
        <li><a routerLink="/lista-carros"><i class="pi pi-table"></i> Veículos</a></li>
        <li><a routerLink=""><i class="pi pi-chart-bar"></i> Relatórios</a>
      </ul>
    </nav>
  </div>
</div>
<!-- /Linha Menu -->
